*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




header{
    display: flex !important;
    height: 79px;
    background-color: #004B93;
}

ul{
    list-style: none;
}




.logo {
    display: flex;
    align-items: center;

}
.logo img{
    width: 130px;
    cursor: pointer;
}

#contenedorHead{
    width: 100%;
}

.navegacion{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

a{
    color: #fff;
    text-decoration: none;
    outline: none;
}

.contenedorDeslizante{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contenedorDeslizante, .Dezlizante{
    flex: 0 0 100%; 
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}


h1{
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: .5rem;
    line-height: 1.2;
    color:  #004b93;;
}


.cajatextogenerico{
    background-color: #fff;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cajitaLinea{
    display: flex;
    justify-content: center;
}

.lineaAmarilla{
    display: flex;
    justify-items: center;
    height: 2px;
    width: 341px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
}


#seccionAvisos{
    
    height: 500px;
    width: 100%;
    display: flex;
    padding: 60px 0;
}

#seccionAvisos .columna{
    width: 50%;
    
}

.tituloAviso{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 100;
}

/* zona de imagen columna*/

.imgColumna{
    width: 80%;
    border-radius: 10px;
}
#seccionAvisos .columna:nth-child(1){
    padding: 20px;
    display: flex;
}

#seccionAvisos .columna:nth-child(2){
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.textoAviso2{
    display: flex;
    
}


/*  Seccion de consulta  */

a .consultaBoton{
    width: 30% !important;
    
    
}

.consultaBotones{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}


.textoConsulta{
    padding: 10px;
    font-size: 18px;
    width: 70%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.consultaBotones .icono{
    align-items: center;
    margin: auto;
   display: flex;
   width: 22%;
   background-color: #fff;
   border-radius: 10px;
   flex-direction: row;
   margin: 10px;
   padding: 25px 5px ;
}

.icono-imagen{
    width: 30%;
}

.consulteAqui{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}


.fondoDeConsulta{
    background-image: url(/img/backgroundServPrinc.png);
    background-size:cover;
    background-repeat: no-repeat;
}


/* "Nuestros negocios" */

.botonVermas{
    border: none;
    margin-top: 30px;
    height: 36px;
    width: 114px;
    border-radius: 4px;
    background-color: #004b93;
    color: #ffffff;
    cursor: pointer;
}

#nuestrosNegocios{
    display: flex;
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.textoNegocio{
    padding-top: 20px;
}

.imgCabezilla{
    width: 22%;
}


.contenedorConozcaMas{
    border: #000 solid;
    display: flex;
    width: 60%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}



